<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="HighlightConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=blue, TRACE=black}"/>
        </Console>
    </appenders>
    <loggers>
        <Logger name="org.hibernate.SQL" level="trace" />
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" />
        <Logger name="org.hibernate.tool.hbm2ddl" level="trace" />
        <Logger name="org.hibernate" level="warn" />
        <logger name="io.netty" level="warn"/>
        <logger name="io.netty.handler.logging.LoggingHandler" level="info"/>
        <logger name="com.zhaoxiaodan.mirserver" level="debug" additivity="false">
            <appender-ref ref="HighlightConsole"/>
        </logger>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>